/*@media (max-width:1200px){.wb-searchon .wb-admindropdown{display: none;}}*/

@media (max-width:1600px){.wb-masktool{
     width: 60vw;   
} }


@media (max-width:991px){.wb-mainmenu{display: none;}
   
.dropdown-menu{
     border: none!important;
    margin: 0px;
}
.wb-adminbox{
    display: none;
}
    
.wb-widgetcatagory {
    display: none;
} 
    
.wb-mobiletools{
    display: block;
    float: right;
    height: 70px;
    margin-right: -30px;
    margin-top: -10px;
}
    
.wb-mobiletools .wb-signinmob{
  
    cursor: pointer;
    background-color: #49c183;
    height: 100%;
    width: 100px;
    text-align: center;
    padding-top: 24px;
    font-family: "Source Sans Pro";
	font-size: 14px;
    color: #ffffff;
}
    
.wb-mobiletools  .wb-logeduser{
    width: 100px; 
    height: 100%;
    padding-top: 6px;
    padding-left: 10px;
    text-align: center;
   
}

.wb-mobiletools  .wb-logeduser img{
    margin-top: 8px;
    border-radius: 100%;
}

.wb-mobiletools  .wb-logeduser span{
        margin: 0px;
}
    
    
.wb-logeduser img {
    float: left;
    width: auto;
    height: auto;
    display: block;
    border-radius: 50%;
}    
    
.wb-mobiletools .wb-mobilesearch {
    float: left;  
    width: 50px;
	height: 70px;
	object-fit: contain;

    padding-top: 24px ;
    text-align: center;
}
    
.wb-mobiletools .wb-mobilesearch img{
    
    width: 22px;
    cursor: pointer;
}    
.wb-admindropdown {
    padding-top: 10px;
        
}  
.wb-mobiletools .midileft{
    float: left!important;

}
    
.wb-masktool{
     width: 72vw;   
}  

.wb-mobmenu{
 padding: 0px 35px;   
 padding-left: 22px;
 padding-bottom: 50px;
}
   
.wb-mobfavorits{
 
 border-top: 1px solid #e8e8e8;
 border-bottom: 1px solid #e8e8e8;
 padding: 14px 20px;
 padding-left: 42px;
 height: 60px;
 
} 

.wb-mobfavorits div{
    display: block;
    padding-top: 4px;
}    
    
.wb-mobfavorits .favorname{
    font-size: 19px; 
    float: left;
    margin-right: 6px;
    
} 
    
.wb-mobfavorits .favorico {

    padding-top: 3px;

}    
.wb-mobmenu li{
   padding: 8px 20px;
   margin: 3px 0px;
    color: #9a9a9a;
}    

.wb-mobmenu .wb-mobactive{

    background: #f6ebee;
    border-radius: 100px;
}    
 
.wb-mobmenu .wb-mobactive a{  
   color: #ff2c55;
}
    
 .wb-mobmenu li{
     list-style-type: none;
}    
    
.mobilemenu  {
    display: none;
    
}  
    
.mobilemenuopen{
    display: block!important;    
}  
    
}
@media (max-width:960px){ 
    .wb-mobiletools midileft{
        width: 100px;
    }
}

@media (max-width:1199px){
    .facebook-logo{ display: none;}
	.wb-widgetchefinfo .wb-btnviewprofile{padding: 0 40px;}
	.wb-recipe .wb-recipedetail .wb-description p span {display: inline-block;}
	.wb-dragdropimg label {padding: 95px 20px;}
	.wb-recipehead .wb-recipename{width: 100%;}
	.wb-recipedetail .wb-btnactions{
		float: left;
		position: static;
	}
	.wb-recipecs .wb-recipedetail .wb-btnactions{position: absolute; float: none;}
	.wb-widgetchefinfo {padding: 30px;}
	.wb-formsearch .form-control {width: 350px;}
}
@media (max-width:991px){
	.wb-recipecs .wb-recipedetail .wb-btnactions{position: static; float: left;}
	.wb-paddingtophalf{padding-top: 30px;}
	.wb-admindropdown{ }
	.wb-searchdropdown{
		
		width: 100vw;
		border-radius: 0;
		position: absolute;
        padding-top: 0px;
       
        
	}
    
	.wb-admindropdown,
	.wb-sidedropdown{display: block;}

	.wb-admindropdown .wb-adminsigned a{color: #4A4A4A;}
	.wb-admindropdown .wb-adminsigned a span{
		color: #4A4A4A;
		font-size: 18px;
		font-weight: normal;
	}
	.wb-admindropdown .wb-adminsigned a span:before{display: none;}
	.wb-admindropdown .wb-formsearch{display: none;}
	.wb-admindropdown .wb-adminsigned{
		margin: 0;
		width: 100%;
		float: left;
		display: block;
		padding: 0 0 20px;
	}
	.wb-admindropdown ul{
		width: 100%;
		float: left;
		list-style: none;
	}
	.wb-admindropdown ul li{
		width: 100%;
		float: left;
		list-style-type: none;
	}
	.wb-admindropdown ul li a{
		display: block;
		color: #4A4A4A;
		font-size: 18px;
		line-height: 23px;
	}
	.wb-recipepost{width: 49%}
	.wb-formsearch .form-control {width: 300px;}
	.wb-headervtwo .wb-formsearch .form-control {width: 270px;}
	.wb-widgetchefinfo .wb-chefnamevtwo{
		display: block;
		overflow: hidden;
		padding: 0 0 0 20px;
	}
	.wb-filtermasonryvtwo .wb-recipepost {width: 33.33%;}
	.wb-recipe .wb-recipedetail{padding: 0 0 0 20px;}
	.wb-btnactions{
		width: 100%;
		float: left;
		position: static;
		padding: 15px 0 0;
	}
	.wb-formtheme .wb-recipeingredients .form-group.wb-amount .wb-select:after{right: 15px;}
	.wb-dragdropimg label {font-size: 15px;}
	.wb-recipedetail .wb-recipename h3 {
		font-size: 17px;
		line-height: 20px;
	}
	.wb-recipedetail .wb-btnactions{width: auto;}
	.wb-ingredeintsinfo{
		width: 100%;
		padding: 0 0 30px;
	}
	.wb-nutritionfacts{width: 100%;}
	.wb-nutritionfactshead h3{margin: 0 30px 0 0;}
	.wb-logingimg figcaption{
		width: 100%;
		padding: 0 30px;
	}
	.wb-widgetcopyrights,
	.wb-displaynone,
	.wb-adminsigned{}
	.wb-widgetchefinfo figure{
		float: left;
	}
	.wb-recipebox{
		width: auto;
		float: none;
		overflow: hidden;
		padding: 0 0 0 20px;
	}
	.wb-widgetchefinfo .wb-chefname{
		width: auto;
		float: none;
		overflow: hidden;
		text-align: left;
	}
	.wb-widgetchefinfo .wb-website{
		overflow: hidden;
		text-align: left;
	}
	.wb-recipebox .wb-website,
	.wb-recipebox .wb-chefname{display: none}
	.wb-recipebox .wb-description{text-align: left;}
	.wb-btnviewprofile{
		top: 30px;
		right: 30px;
		float: none;
		width: auto;
		padding: 0 75px;
		overflow: hidden;
		position: absolute;
	}
	.wb-widgetchefinfo .wb-description p{margin: 0;}
	.wb-paddingtop{padding-top: 30px !important;}
	
}
@media (max-width:800px){
	.wb-searchon .wb-formsearch .form-control {width: 250px;}
    
}
@media (max-width:767px){
     .wb-mask{
        display: none!important;
    }
   
	.wb-detailbox{padding: 25px 20px;}
	.wb-detailpagecontent{padding: 0;}
	.wb-profilecontent{padding: 0 15px;}
	.wb-socialshare,
	.wb-formsearch{display: none;}
	.wb-searchon .wb-admindropdown{display: block;    }
	.wb-socialsharevtwo{
		padding: 0;
		width: 100%;
		float: left;
		display: block;
		background: none;
		position: static;
	}
	.wb-socialsharevtwo h3{
		margin: 0;
		float: left;
		padding: 10px 0;
	}
	.wb-blendingtimespeed{
		border-top: 0;
    	margin: 0 0 20px;
		padding: 33px 0 30px;
	}
	.wb-socialsharevtwo .wb-socialicons{float: right;}
	
	.wb-admindropdown .wb-formsearch{
		width: 100%;
		display: block;
		margin: 0 0 30px;
        padding-left: 30px;
	}
	.wb-header .wb-admindropdown .wb-formsearch .form-control{width: 100%;}
	.wb-filtermasonryvtwo .wb-recipepost {width: 49%;}
	.wb-headervtwo .wb-formsearch{float: right;}
	/*.wb-adminsigned{float: right;}*/
	.wb-sidebarfixed.is-affixed {height: 100% !important;}
	.wb-sidebarfixed.is-affixed .inner-wrapper-sticky{
		top: 0 !important;
		left: 0 !important;
		width: 100% !important;
		float: left;
		padding: 0 0 30px;
		position: relative !important;
	}
	.wb-searchon .wb-loginsignup .wb-btnlogin,
	.wb-searchon .wb-loginsignup .wb-btnsignup{display: none;}
	.wb-searchon .wb-loginsignup .wb-searchdropdown .wb-btnlogin,
	.wb-searchon .wb-loginsignup .wb-searchdropdown .wb-btnsignup{display: block;}
	.wb-searchon .wb-loginsignup .wb-searchdropdown .wb-btnsignup{float: right;}
	.wb-detailpagecontent .wb-detailpagescontent-inner{padding: 0;}
	.wb-chefnamevthree{
		width: auto;
		float: none;
		display: block;
		padding: 28px 0 28px 20px;
		overflow: hidden;
	}
	.wb-profilecontent .wb-follow,
	.wb-profilecontent .wb-profileinfo{display: none;}
	.wb-profilecontent .wb-profileinfovtwo{
		width: 100%;
		float: left;
		display: block;
		padding: 20px 0 0;
	}
	.wb-profilecontent .wb-followvtwo{
		float: left;
		display: block;
		padding: 30px 0 0;
		text-align: center;
	}
	.wb-profilecontent .wb-followvtwo .wb-followers{margin: 30px 0 0;}
	.wb-profilecontent .wb-profileinfovtwo .wb-chefname{display: none;}
}
@media (max-width:740px){
	.wb-formsearch{float: right;}
	.wb-btnsignup{float: right;}
	.wb-formtheme .wb-recipeingredients{
		width: 100%;
		float: left;
		padding: 30px 0 0;
	}
	.wb-profileinfo{
		width: 100%;
		float: left;
		padding: 30px 0 0;
	}
	.wb-follow{
		float: left;
		text-align: left;
		padding: 20px 0 0;
	}
    
    
}
@media (max-width:640px){
	.wb-formuploadrecipe .wb-dragdropimg{width: 100%;}
	.wb-btnuploadrecipe{
		width: 40px;
		height: 40px;
		text-align: center;
	}
	.wb-btnuploadrecipe i{margin: 0 0 0 -6px;}
	.wb-btnuploadrecipe span{display: none;}
	.wb-logingimg figcaption{
		width: 100%;
		padding: 50px 30px;
	}
	.wb-formregister {padding: 0 0 40px;}
}
@media (max-width:568px){
   
	
	.wb-recipebox{
		width: 100%;
		float: left;
		text-align: center;
	}
	.wb-recipebox .wb-chefname,
	.wb-recipebox .wb-website{display: none;}
	.wb-recipebox .wb-description{
		padding: 25px 0;
		text-align: center;
	}
	.wb-recipebox .wb-descriptionvtwo{
		padding: 0 0 25px;
	}
	.wb-btnviewprofile{position: static;}
	.wb-chefnamevtwo .wb-website{margin:0;}
	.wb-donthaveaccount {padding: 0 0 45px;}
	.wb-profilecontent .wb-followvtwo,
	.wb-profiledetail .wb-selectholder .form-group{
		width: 100%;
	}

}
@media (max-width:480px){

	.wb-logo{
		width: 120px;
		float: none;
		display: block;
	}
	.wb-formsearch{
		margin: 0;
		width: 100%;
	}
	.wb-uploadnewimg {
		width: 100%;
		float: left;
		padding: 30px 0 30px 0;
	}
.wb-searchdropdown {
   left: 0px;
    margin-top: 0px;
}
    
	
	#nav-icon1 span{left: 14px;}
	.wb-admindropdown{position: static;}
	.wb-signedin .wb-admin{text-align:center;}
	.wb-headervtwo .wb-formsearch .form-control,
	.wb-formsearch .form-control{width: 100%;}
	.wb-recipepost,
	.wb-filtermasonryvtwo .wb-recipepost{width: 100%;}
	.wb-recipe .wb-recipedetail{
		width: 100%;
		float: left;
		padding: 20px 0 0;
	}
	.wb-recipedetail .wb-recipename h3 {
	    font-size: 18px;
	    line-height: 22px;
	}
	.wb-formtheme .wb-recipeingredients .form-group.wb-blendsetting .wb-select{
		width: 100%;
		padding: 10px;
	}
	.wb-formtheme .wb-recipeingredients .form-group.wb-addingredients {width: 100%;}
	.wb-formtheme .wb-recipeingredients .form-group.wb-amount{
		width: 50%;
		margin: 20px 0 0;
	}
	.wb-detailpagecontent .wb-detailpagescontent-inner{padding: 0;}
	.wb-socialshare{
		width: 100%;
		float: left;
		position: static;
	}
	.wb-socialshare h3{text-align: left;}
	.wb-blendingtimespeed li{
		padding: 0;
		width: 100%;
	}
	.wb-blendingtimespeed li:first-child{padding: 0 0 10px;}
	.wb-blendingtimespeed li:nth-child(2),
	.wb-blendingtimespeed li:nth-child(3){width: 50%;}
	.wb-nutritionfactshead h3{margin: 0;}
	.wb-nutritionfactshead span{
		display: none;
	}
	.wb-widgetchefinfo figure {
		width: 70px;
		height: 70px;
	}
	.wb-uploadnewimg label {padding: 0 12px;}
	.wb-chefnamevthree {padding: 18px 0 18px 20px;}
	.wb-chefname.wb-chefnamevthree h3{width: 100%; margin: 4px 20px 14px 0;}
}
@media (max-width:479px){
    
    .wb-mobilesearch{
        display: none;
    }
    
    .wb-logoarea img{
        height: 20px!important;
        margin-left: -20px;
    }
    
}
@media (max-width:360px){
    
    .wb-signinmob {
        display: none;
    }
}